<article class=product-article> 
    <img src=<%= producto.img %> alt="imagen de producto" >
    <div class= "conteiner-datos"> 
        <i class="fas fa-truck"></i>
        <div class="conteiner-precios">
            <h2 class= "product-name"><%= producto.name %></h2>
            <p class ="precios"><%= producto.price %></p>
            <p class ="color"><%= producto.color %></p>
        </div>    
        <p class ="descripciones"><%= user.description %></p>
    </div>    
</article>